*{   
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


form{

    display: flex;
    flex-direction: column;
    gap: 1rem;  
    width: 500px;
    font-size: 20px;
    background-color:#333;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: #979494 5px 5px ;
    justify-content: center;

}

form > label{
    color: aliceblue;
}

main{

    background-color: #c8c8fa;
    padding: 1rem;
}


