*{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
}

form{

    display: flex;
    flex-direction: column;
    gap: 1rem;  
    width: 500px;
    background-color:cornflowerblue;
    padding: 1rem;
    border-radius: 5px;
}

